@model Dxwand.Models.RegisterViewModel
@{
    Layout = null;
}
<h2>@ViewBag.Title.</h2>
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>DXwandChat | Registry</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">

    <link href="@Url.Content("~/Content/plugins/datapicker/datepicker3.css")" rel="stylesheet" type="text/css" />
</head>

<body class="gray-bg">

<div class="middle-box text-center loginscreen   animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">IN+</h1>

        </div>
        <h3>Register to IN+</h3>
        <p>Create account to see it in action.</p>


        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal m-t", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Create a new account.</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })

            <div class="form-group">
      
                <div class="col-md-12 input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "User Name" , @required = "required" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12 input-group">
                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @placeholder = "Phone Number", @required = "required" })
                </div>
            </div>

            <div class="form-group" id="data_1">
                <div class="col-md-12 input-group date">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    @Html.TextBoxFor(m => m.DateOfBirth, new { @class = "form-control", @placeholder = "Date of Birth", @required = "required" })
                </div>
            </div>

            <div class="form-group">
                
                <div class="col-md-12 input-group">
                    <span class="input-group-addon"><i class="fa fa-venus-mars"></i></span>
                    @Html.DropDownListFor(m => m.GenderId, new SelectList(ViewBag.Gender, "value", "text"), "Your Gender", new {@class = "form-control", @required = "required" })
                     @Html.ValidationMessageFor(m=>m.GenderId)
                </div>
            </div>

            <div class="form-group ">
                <div class="col-md-12 input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", @required = "required" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password", @required = "required" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 input-group">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>

                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = "Confirm Password", @required = "required" })
                </div>
            </div>
            <div class="form-group">
      
                <input type="submit" class="btn btn-primary block full-width m-b" value="Register" />
                <p class="text-muted text-center"><small>Already have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="@Url.Action("Login", "Account")">Login</a>
            </div>
        }

    
        <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
    </div>
</div>

<!-- Section for main scripts render -->
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/plugins/dataPicker")



<script >


        $('#data_1 .input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });



</script>


</body>

</html>

